{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}
{% import "macros/texts.html" as m_texts %}


{% block title %}{{ m.title(_('Texts')) }}{% endblock %}


{% block meta_description -%}Our breakthrough library features word-by-word
analysis and integrated dictionary support for a variety of Sanskrit works.
{%- endblock %}


{% block header %}
{{ m.basic_header(_('Texts')) }}
{% endblock %}


{% block main %}

<article class="p-4 md:p-0 max-w-3xl mx-auto md:my-24 md:mb-36">

{{ m_texts.all_texts(texts, genre_map, author_map) }}
</article>
{% endblock %}
