{% import 'macros/components.html' as components %}


{% macro text_header(text) %}
<header class="text-center my-16">
  <h1 class="font-bold text-5xl x-deva">
    {{ text.title | devanagari }}
  </h1>
  {% if text.parent %}
  <p class="text-xl my-8 text-slate-500">(
    <a class="hover:underline" href="{{ url_for('texts.text', slug=text.parent.slug) }}">
      {{- text.parent.title -}}
    </a>
    &mdash;
    {% if text.language == "hi" %}Hindi{% endif %}
    {% if text.language == "en" %}English{% endif %}
  )</p>
  {% endif %}
</header>
{% endmacro %}


{% macro text_tabs(text, active) %}
{% set routes = [
  ("contents",         _("Contents"),       url_for("texts.text", slug=text.slug)),
  ("resources",        _("Resources"),      url_for("texts.text_resources", slug=text.slug)),
  ("about",     pgettext('texts', "About"), url_for("texts.text_about", slug=text.slug)),
] %}
<div class="mt-8">
{{ components.tabs(routes, active) }}
</div>
{% endmacro %}
