{% macro all_texts(texts, genre_map, author_map) %}
<table class="my-24 w-full">
  <thead class="border-b">
    <tr class="text-slate-500">
      <th class="text-left p-2">Title</th>
      <th class="text-right p-2">Author</th>
      <th class="text-right p-2">Genre</th>
    </tr>
  </thead>
  {% for text in texts %}
  <tr class="even:bg-slate-50">
    {% set url = url_for('texts.text', slug=text.slug) %}
    <td>
      <a class="p-2 block text-xl hover:underline" href="{{ url }}">
      {{ text.title | devanagari }}
      </a>
    </td>
    <td class="p-2 text-right">
      {% if text.author_id %}
        {{ author_map[text.author_id].name }}
      {% endif %}
    </td>
    <td class="p-2 text-right">
      {% if text.genre_id %}
        {{ genre_map[text.genre_id].name }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
