{# List of all texts #}
{% macro all_texts(text_entries) %}
<ul class="mb-24">
{% for entry in text_entries %}
<li class="even:bg-slate-50 p-2">
  <h2>
    {% set url = url_for('texts.text', slug=entry.text.slug) %}
    <a href="{{ url }}" class="hover:underline">
      <span class="text-xl">{{ entry.text.title | devanagari }}</span>

      {% if entry.author or entry.genre %}
      <span class="text-slate-500">
        &mdash;
        {% if entry.author %} {{ entry.author.name }} {% endif %}
        {% if entry.genre %} ({{ entry.genre.name }}) {% endif %}
      </span>
      {% endif %}
     </a>
  </h2>

  {% if entry.children %}
  <ul class="list-disc mt-4 pl-4">
    {% for child in entry.children %}
      {% set url = url_for('texts.text', slug=child.text.slug) %}
      <li>
        <a class="hover:underline" href="{{ url }}">
          {{ child.text.title }}
          {% if child.text.language == "hi" %}(Hindi){% endif %}
          {% if child.text.language == "en" %}(English){% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endfor %}
</ul>
{% endmacro %}
