{% extends 'header-main-footer.html' %}

{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as _m_proofing %}


{% block meta_description -%}
A state-of-the-art Sanskrit proofreading platform with best-in-class OCR. Join today!
{%- endblock %}


{% block header %}
{{ _m_proofing.project_hero_header(project, self.active_tab()|trim, current_user) }}
{% endblock %}

{% block active_tab %}summary{% endblock %}


{% block main %}
<div class="bg-white">
<article class="max-w-7xl mx-auto min-h-[60vh]">

{{ components.flash_messages() }}

{% if not current_user.is_authenticated %}
<div class="px-4 md:px-8 mt-4">
  <div class="bg-white rounded-lg border border-slate-200 p-4 pb-8 mb-8">
    <p class="mb-4">{% trans %}
    Thousands of Sanskrit texts are available only in print. Join our global
    volunteer effort to digitize these texts and make them accessible to all.
    {% endtrans %}</p>

    <nav>
    <a class="btn p-2 bg-black border border-black text-white transition
    hover:bg-white hover:text-black" href="{{ url_for('auth.register') }}">{{ _('Register') }}</a>
    <a class="btn p-2 border border-slate-400" href="{{ url_for('auth.sign_in') }}">{{ _('Sign in') }}</a>
    </nav>
  </div>
</div>
{% endif %}

<div class="px-4 md:px-8 mt-4 mb-24">
  {% block content %}{% endblock %}
</div>

</article>
</div>
{% endblock %}
