{% extends 'header-main-footer.html' %}

{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as _m_proofing %}


{% block meta_description -%}
A state-of-the-art Sanskrit proofreading platform with best-in-class OCR. Join today!
{%- endblock %}


{% block header %}
{{ _m_proofing.proofing_header(current_user) }}
{% endblock %}


{% block main %}
<div class="bg-slate-100">
<article class="max-w-7xl mx-auto min-h-[60vh]">
{{ components.flash_messages() }}
{% block content_wrapper %}
<div class="px-4 md:px-8 mt-4 mb-24">
{% block content %}{% endblock %}
</div>
{% endblock %}
</article>
</div>
{% endblock %}
