{% extends 'header-main-footer.html' %}
{% import "macros/texts.html" as m %}

{% set mailing_url = 'https://groups.google.com/g/learnsanskrit-announce' %}
{% set code_url = 'https://github.com/ambuda-org/ambuda' %}
{% set contact_url = url_for('about.contact') %}
{% set group = "https://groups.google.com/u/2/g/learnsanskrit-announce" %}
{% set links = [
  ('texts.index', 'Texts'),
  ('dictionaries.index', 'Dictionaries'),
  ('proofing.index', 'Proofing'),
  ('site.support', 'Support'),
  ('about.index', 'About'),
] %}
{% set mobile_only = ["proofing.index", "site.support"] %}
{% block title %}{{ _('Ambuda') }}{% endblock %}


{% block header %}
<header class="border-b text-sky-900 shrink-0">
  {% include("include/header-login.html") %}
</header>
{% endblock %}


{% block main %}
<article class="px-8 mx-auto max-w-3xl">
  <header class="text-center text-sky-900 font-bold my-12">
    <p class="text-sm">{{ '|| zrIH ||' | devanagari }}</p>
    <h1 class="text-6xl">{{ 'ambudaH' | devanagari }}</h1>
  </header>

  <nav class="flex my-12 text-center items-center justify-center">
    <div class="font-bold text-slate-400">Language:</div>
    <ul class="flex">
      {% for L in ambuda_locales %}
      <li><a class="pl-2" href="{{ url_for('site.set_language', slug=L.slug) }}">
        {{ L.text }}
      </a></li>
      {% endfor %}
    </ul>
  </nav>

  {{ m.all_texts(text_entries) }}
</article>
{% endblock %}
