{% extends 'proofing/base-project.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}


{% block title %}Batch LLM: {{ project.display_title }} | Ambuda{% endblock %}

{% block active_tab %}tools{% endblock %}


{% block content %}

{% set url = url_for('proofing.project.batch_llm_status', task_id=task_id) %}
<div id="progress" x-data="htmlPoller('{{ url }}')">
  {% with status=status %}
    {% include 'include/batch-llm-progress.html' %}
  {% endwith %}
</div>
{% endblock %}
