{% extends 'proofing/base-project.html' %}
{% from "macros/forms.html" import field %}
{% import "macros/proofing.html" as m %}


{% block title %}Structure: {{ project.display_title }} | Ambuda{% endblock %}

{% block active_tab %}tools{% endblock %}


{% block content %}

{% set url = url_for('proofing.project.batch_structuring_status', task_id=task_id) %}
<div id="progress" x-data="htmlPoller('{{ url }}')">
  {% with current=current, total=total, percent=percent, slug=slug, status=status %}
    {% include 'include/structuring-progress.html' %}
  {% endwith %}
</div>
{% endblock %}
