{% extends 'proofing/base-project.html' %}
{% import "macros/proofing.html" as m %}
{% import "macros/proofing-talk.html" as m_talk %}
{% from "macros/forms.html" import field %}


{% block title %}Talk: {{ project.display_title }} | Ambuda{% endblock %}

{% block active_tab %}talk{% endblock %}


{% block content %}

<div class="my-4">
<a class="btn btn-basic" href="{{ url_for('proofing.talk.create_thread', slug=project.slug) }}">
  {{ _('Create thread') }}
</a>
</div>

{% if board.threads %}
{{ m_talk.thread_list(project.slug, board.threads) }}
{% else %}
<p>This project doesn't have any ongoing discussion.</p>
{% endif %}

{% endblock %}
